@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.header figure {
  width: 120px;
  height: 18.5px;
  margin-top: 52px;
  margin-left: 115px;
}
.investment-type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 202px;
  border-bottom: #e7e3e3 solid 3px;
  position: relative;
  margin-inline: 6%;
}
.investment-type-box::after {
  margin-left: 270px;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 12;
  width: 212px;
  height: 6px;
  background: linear-gradient(to bottom, #0038ff 100%, #5a7fff 100%);
  pointer-events: none;
  border-radius: 6px;
}

.investment-type-box ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 188px;
  margin-bottom: 50px;
  position: relative;
}
.investment-type-box ul li {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #7d7d7d;
}
.investment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 6%;
}
.investment-box {
  margin-top: 80.5px;
}
.investment-box p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
