* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.header figure {
  width: 120px;
  height: 18.5px;
  margin-top: 52px;
  margin-left: 115px;
}
